{#TEST FILE FOR AMANY DONT USE#}
<section id="SentttAnalyzer" class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-12-12">
          <div class="fix-3-12">
            <img height = "150" width = "300" class="wide ae-1"  src="{{url_for('static', filename='assets/img/logos/sentiment.png')}}"/>
          </div>
          <div class="margin-top-0">
              <p class="ae-3"><span class="opacity-8">We can give you an estimated prediction of a stock of your choosing based on news headlines. <b> Check it out!</b> </span></p>
              <p class="ae-3"><span class="opacity-8"><b> id= {{ result }} </b> </span></p>


{#              <p class="ae-3"><span class="opacity-8">We can give you an estimated prediction of a stock of your choosing based on news headlines. <b> Check it out!</b> {{ result }}</span></p>#}
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(/static/assets/img/background/img-08.jpg)"></div>
</section>